row.property label.title {
  opacity: 0.55;
  font-size: smaller;
}

row.property label.subtitle {
  opacity: 1.0;
  font-size: 11pt;
}

treeview.view {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

treeview.view>:active {
  margin: 0;
  padding: 10px;
  border: none;
  background: red;
}

.text-in-row {
  margin: 12px 0;
}
